<div id="hizlaria">

    <h1>{{hizlaria.izena}} {{hizlaria.abizenak}}</h1>

    <div id="hizlaria-description">
      {{hizlaria.data_jaio}} - {{hizlaria.data_hil}}
      <div class="pull-right" ng-if="hizlaria.argazkia.url != ''">
        <img src="{{hizlaria.argazkia.url}}" alt="{{hizlaria.izena}} {{hizlaria.abizenak}}"/>
      </div>
      <p class="description" ng-bind-html="hizlaria.biografia">
          Hemen biografia
      </p>
    </div>

    <div id="pasarteak">
    <h2>Pasarteak</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Izena</td>
                <td>Ikusi / entzun </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pasartea in pasarteak">
                <td>{{$index+1}}</td>
                <td>
                    <a href="#/pasartea/{{pasartea.slug}}">
                    {{pasartea.izenburua}}
                    </a>
                </td>
                <td>
                    <div ng-if="pasartea.audioa_du == true">
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#audio-{{$index}}">
                          Audioa
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="audio-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                Entzun <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Itxi</span></button>
                              </div>
                              <div class="modal-body"
                                ng-bind-html="pasartea.audioa_html">
                                 {{pasartea.audioa_html}}
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div ng-if="pasartea.bideoa_du == true">
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#bideo-{{$index}}">
                          Bideoa
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="bideo-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                Ikusi <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Itxi</span></button>
                              </div>
                              <div class="modal-body" ng-bind-html="$sce.trustAsHtml(pasartea.bideoa_html)">

                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>