<div id="pasartea">

    <h1>{{pasartea.izenburua}}</h1>

    <h2>Datuak</h2>
    <dl>
        <dt>Hizlariak</dt>
        <dd>
            <ul>
                <li ng-repeat="hizlaria in pasartea.hizlariak">
                    <a href="#/hizlaria/{{hizlaria.slug}}">
                        {{hizlaria.izena}} {{hizlaria.abizenak}} ({{hizlaria.data_jaio}} - {{hizlaria.data_hil}})
                    </a>
                </li>
            </ul>
        </dd>
        <dt>Iraupena</dt>
        <dd>{{pasartea.iraupena}}</dd>
    </dl>

    <h2>Laburpena</h2>
    <div id="laburpena" ng-bind-html="pasartea.laburpena">

    </div>

    <div id="transkripzioa" ng-if="pasartea.transkripzioa != null">
        {{pasartea.transkripzioa}}
    </div>

    <div id="audioa" ng-if="pasartea.audioa_du == true">
        <h3>Pasartea entzun</h3>

        <div id="audio_player" ng-bind-html="audio_player">
            {{audio_player}}
        </div>

    </div>

    <div id="bideoa" ng-if="pasartea.bideoa_du == true">
        <h3>Pasartea ikusi</h3>

        <div id="bideo_player" ng-bind-html="bideo_player">
            {{bideo_player}}
        </div>
    </div>


 </div>